<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>product page</title>
</head>
<script>


</script>
<body>
    

<div class="shell">
    <div class="container">
      <div class="row">
        <div class="col-md-3" *ngFor="let product of products">
          <div class="wsk-cp-product">

            <div class="wsk-cp-img">
              <a href="#" data-toggle="modal" [attr.data-target]= "'#quick-view-'+product.idProduct"> <!-- lorsqu'on clique sur ce produit c'est avec l'id sur notre data-targer qui va permettre de le lier avec l'id du modal -->
              <img [src]="urlImagePrefix + product.image" />
            </a>
            </div>
            <div class="wsk-cp-text">
              <div class="category">
                <img class="rounded-circle" alt="50x50" width="60px" height="60px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                data-holder-rendered="true">
                            </div>
              <div class="title-product">
                <h3>{{product.name}}</h3>
              </div>
             <p>{{product.description}}</p>
              <div class="card-footer">
                  <div class="wcf-left">
                     
                        <button type="button" class="btn btn-primary btn-circle btn-sm">
                             {{product.price}} <i class="bi bi-currency-euro"></i>
                             </button>
                           
                  </div>
                        <div class="wcf-right">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star"></i>
                          </div>  

              </div>
              
            </div>
          </div>
        </div>
        </div>
    </div>
    
    
    </div>

</body>
</html>

<app-quick-view-modal [products] = "products" ></app-quick-view-modal>